# Dependency directory
node_modules
.eslintrc.js
.gitignore
.npmignore
.travis.yml
screenshot.png
screenshot1.png
.git*
.github*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editors
.vscode/*