name: sys-info-test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.0
    - uses: actions/setup-node@v3.7.0
      with:
         node-version: '18.x'
    - name: use npm
      run: |
       npm install
       npm start